html {
  background-color: #0f172a;
  scroll-behavior: smooth;
  color: #ccd6f6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #303c55;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
